body {
    background-color: #fceee9;
    color: #667b68;
    font-family: Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {color: #a3b899;}

a {color: #667b68;text-decoration: none;}

a:hover {text-decoration: underline;}

nav {
    background-color: #fceee9;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;}

nav a {
    color: #667b68;
    text-decoration: none;
    padding: 5px;}

nav a:hover {
    background-color: #667b68;
    color: #fceee9;}

.site-nav {
    background-color: #fceee9;
    padding: 10px;}

.site-nav a {
    color: #667b68;
    text-decoration: none;
    padding: 5px;}

.site-nav a:hover {
    background-color: #667b68;
    color: #fceee9;}

