h1 {font-family: 'Times New Roman', Times, serif;
    color: indianred;font-size: 2em;}
h2 {font-family: 'Times New Roman', Times, serif;
    color: indianred; font-size: 1.5em;}
.evenrow {color:darkgrey}.evenrow {background-color: darkgray;}